* {
    padding: 0%;
    margin: 0%;
}

body {
    width: 100%;
    height: 100vh;
}

.container-gral {
    width: 90%;
    height: 100%;
    margin-left: 5%;
    margin-right: 5%;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
}

/*CAIXA 1 i 2*/


.container-gral .caixa1, .caixa2 {
    width: 100%;
    height: 11%;
    box-sizing: border-box;
    border-style: solid;
    border-color: black;
    display: flex;
    align-items: center;
}

.caixa1 {
    border-width: 15px 15px 4px 15px;
    background-color: #2d4158;
    justify-content:space-evenly;
}

.caixa2 {
    border-width: 4px 15px 15px 15px;
    background-color: #f07a3e;
    margin-bottom: 2%;
    justify-content:center;
}

/*ELEMENTS CAIXA1*/

.caixa1 .box1, .box2, .box3 {
    height: 25%;
    background-color: #eb5454
}

.caixa1 .box1, .box3 {
    width: 15%;
}
.box1 {
    justify-items: left;
}

.box2 {
    width: 60%;
    justify-items: center;
}

.box3 {
    justify-items: right;
}


/*ELEMENTS CAIXA2*/

.box1-2 {
    width: 95.5%;
    height: 25%;
    justify-items: center;
    background-color: #ffd560;
}

/*CONTENIDOR CAIXA 3 i 4
A diferència de les altres caixes aquestas 2 tenen un contenidor*/


.cont3i4 {
    width: 100%;
    height: 26%;
    display: flex;
    flex-direction: row;
    margin-bottom: 2%;
}

/*CAIXA 3 I 4*/

.cont3i4 .caixa3, .caixa4 {
    height: 100%;
    box-sizing: border-box;
    border-style: solid;
    border-color: black;
    border-width: 15px 15px 15px 15px;
    display: flex;
    align-items: center;
}

/*CAIXA 3*/
 
.caixa3 {
    width: 70%;
    background-color: #4f4e6b;
    flex-wrap: wrap;
    justify-content:space-evenly;
    align-content: space-evenly;
}

/*CAIXA 4*/

.caixa4 {
    width: 30%;
    border-left-width: 0px;
    background-color: #f73f52;
    flex-direction: column;
    justify-content: flex-start;
}

/*ELEMENTS CAIXA 3*/

.caixa3 .artLeft, .artRight{
    width: 45%;
    height: 10%;
    background-color: #1e6db0;
}

.caixa3 .artRight {
    justify-items: right;
}

.caixa3 .artLeft {
    justify-items: left;
}

.caixa3 .artSol {
    width: 94%;
    height: 10%;
    background-color: #71a2c4;
}

/*ELEMENTS CAIXA 4*/

.caixa4 .artLat1, .artLat2 {
    width: 85%;
    height: 10%;
    background-color: #feeb84;    
}

.artLat1 {
    margin: 7% 0% 3% 0%;
}


/*CAIXA 5*/

.caixa5 {
    width: 100%;
    height: 7%;
    box-sizing: border-box;
    border-style: solid;
    border-color: black;
    border-width: 15px;
    background-color: #e7af2f;
}